@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', 'sans-serif';
  background-color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
}

h1{
  color: #fff;
}

.screen{
  cursor: pointer;
  width: 60%;
  background-color: #000 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333 ;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

.controls .btn{
  border: 0;
  background: transparent;
  cursor: pointer;
}

.controls .fa-play{
  color: #28a745;
}

.controls .fa-pause{
  color: #fff;
}

.controls .fa-stop{
  color: #dc3545;
}

.timestamp{
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
}

.btn:focus{
  outline: 0;
}

@media (max-width:800px) {
  .screen, .controls{
    max-width: 90%;
  }
} 
